# NAMESPACE file of pyramid by Minato Nakazawa
# last modified 2019-07-14

importFrom("graphics", 
           "lines", 
           "plot", 
           "rect", 
           "segments", 
           "text")

export(pyramid,
       pyramidf,
       pyramids,
       GunmaPop2005,
       GunmaPop2010)

